#home_link {
  border-bottom: none;
}
main {
  display: flex;
  justify-content: space-between;
}
#left_nav #bookings_nav {
  background-color: rgb(245, 245, 245);
  font-family: 'Manrope', sans-serif;


}

#blog_nav{
  font-family: 'Manrope', sans-serif;
}

#questions_nav{
  font-family: 'Manrope', sans-serif;
}

#faq_nav{
  font-family: 'Manrope', sans-serif;

}


#main_box h1{
  color: rgb(144, 144, 144);
  font-family: 'Manrope', sans-serif;

}


#logout{
  font-family: 'Manrope', sans-serif;

}

.ad_bookings {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 5%;
  font-weight: bolder;
  padding: 5%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-family: 'Manrope', sans-serif;

}
.ad_bbut_box {
  margin-top: 5%;
  width: 100%;
  font-size: 1.5vw;
  font-family: 'Manrope', sans-serif;

}
.ad_bookings img {
  width: 50px;
  height: 100%;
  margin-right: 2%;
}

.ad_bookings .ad_bbut_box button{
  font-size: 1vw;
  float: right;
  justify-content: flex-end;
  padding: 2% 5%;
  border: none;
  box-shadow: 1px 2px 3px rgb(82, 77, 77);
  background-color: rgb(217, 217, 217);
  color: white;
  border-radius: 20px;
  
}
