main {
  /* width: 60%; */
  margin: 4px auto 0px auto;
  background-color: rgb(224, 211, 252);
}
header h3 {
  margin: 0px;
  font-family: 'Manrope', sans-serif;

  font-size: 100%;}

#home_link {
  border-bottom: none;
}
#FAQ_link {
  border-bottom: 2px solid black;
}

#FAQ_box {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  font-size: 80%;
  font-family: 'Manrope', sans-serif;



}
h1 {
  padding-left: 25%;
  padding-top: 3%;
  color: white;
  font-size: 2vw;
  font-family: 'Manrope', sans-serif;

}
.card {
  background-color: rgb(224, 211, 252);
  border: none;
}
.card-body{
  background-color: white;
  padding-left: 4.5%;
  /* padding-top: 5%; */
  margin-top: 2%;
  border-radius: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-family: 'Manrope', sans-serif;

  
}

.card-header h2 button{
  color: black;
  font-weight: bolder;
  
}

.card-header{
  font-size: 70%;

}

.card-header h2 button, .card-body{
  color: black;
  font-size: 70%;
}

#headingOne, #headingTwo, #headingThree, #headingFour {
  border-radius: 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 70%;
  

}

.FAQ_item, .card-header{
  margin-top: 5%;
  background-color: white;
  font-size: 70%;
  padding: 3%;
  border-radius: 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.FAQ_item b {
  font-size: 60%;
}

.accordion .card .h2 button {
  font-size: 60%;
}
#contact_box {
  width: 100%;
  background-color: white;
/*   height: min-content; */
  font-size: 70%;
  font-family: 'Manrope', sans-serif;



}
#contact_box h3 {
  color: black(125, 49, 49);
  font-size: 1vm;
  text-align: left;
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom: 0%;
  font-family: 'Manrope', sans-serif;


  /* margin: 0px; */
}
#contact_box form{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  
}
#contact_box form input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 2% 0px;
  padding: 3%;
  background-color: white;
  outline: auto rgb(217, 217, 217);
  border: none;
  font-size: 60%;
  border-radius: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-family: 'Manrope', sans-serif;

}
#contact_box form input:focus {
  outline: 4px solid rgb(255, 199, 183);
}
#contact_box form #sbtn{
  background-color: rgb(255, 199, 183);
  color: white;
  cursor: pointer;
}
#contact_box form textarea{
  padding: 5% 0px;
  margin-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: 70px;
  font-size: 60%;
  resize: vertical;
  background-color: white;
  border: none;
  outline: auto rgb(217, 217, 217);
  text-align: center;
  border-radius: 25px;
  -webkit-border-radius:5px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#contact_box form textarea:focus {
  outline: 4px solid rgb(255, 199, 183);
}
